# Ignore virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller build folders
build/
dist/        # optional: if you want to keep your exe out of Git
*.spec       # PyInstaller spec file (optional, can keep if you want reproducible builds)

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log